/* ============ Font Awesome CDN =========== */
@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
:root{
   --primary: #d71921;
   --secondary: #990c13;
    --light: #ffffff;
    --dark: #131313;
    --medium: rgba(12, 12, 12, 0.9);
}
html{
    scroll-behavior: smooth;
}

body{
    background-color: #131313;
}
a{
    color: var(--light) !important;
    text-decoration: none !important;
}

h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}

.holder{
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.svg {
    width: 20rem;
    margin: 0 auto;;
    position: relative;

}

.holder .caption {
    text-align: center;
    color: #fff;
    position: relative;
    margin-top: 50px;
}

.svg svg{
    width: inherit;
    margin: 0 
}

.loader-container {
    height: 100vh;
    width: 100vw;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.header{
    position: absolute;
    width: 100%;
    padding: 12px 40px;
}
.navbar{
    position: relative;
}
.logo-brand{
    width: 100px;
    height: 20px;
}
.logo-brand img {
    width: 100%;
    height: 200%;
}

.loader {
    width: 100px;
    height: 100px;
    /* box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3); */
}

button, .button{
    background-color: var(--primary) !important;
    outline: none !important;
    border: none !important;
}
.banner-section{
    background-image: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.513)), url('../img/background.png') ;
    padding: 0;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
     height: 100vh;
}
.header-btn{
    margin-top: 20px;
}
.caption-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.cbanner-caption{
    position: relative;

}

.cbanner-caption h1 {
font-size: 50px;
font-weight: bold;
padding-bottom: 30px;
}

.features-cards{
    max-width: 20rem; 
    min-height:27rem; 
    color: #000
}
.features h3{
line-height: 1.5;
width: 80%;
margin: 0 auto;
}

.hide{
    visibility: hidden;
}

.margix   {
margin:200px 0 ;
position: relative;
}

.margin   {
margin:200px 0 ;
position: relative;
}

.steps span {
position: relative;
}

.steps .outline{
position: absolute;
bottom: 0;
font-weight: bold;
font-size: 20px
}

.steps span i{
font-size: 50px;
}

.team-image{
    width: 32rem;
    position: relative;
    z-index: 2;
}

.team-image img{
    width: 100%;
    /* height: 100%; */
}

.about{
    position: relative;
}

.statement {
    margin-top: 60px
}

.box{
    height: 200px;
    width: 200px;
    position: absolute;
    top: -20px;
    left: -20px;
    z-index: 1;
    background-color: var(--secondary);
}

.vision{
    background:  rgba(12, 12, 12, 0.9);
    padding:20px;
    margin: 30px 0;
}

.mission{
    background: var(--secondary);
    padding:20px;
    margin: 30px 0;
}
.icon{
    float: left;
    padding: 0 30px 50px 0
}

.icon i{
    font-size: 30px;
    color: #c3c3c3;
    padding: 10px 0 20px;
}

.mission .caption{
    display: inline;
}

.caption{
    position: absolute;
    top: 20%;
    padding-right: 50px;
    transform: translate(0, -50%);
}

.subscribe-section{
    position: relative;
    width: 100%;
}

.subscribe-container{
    position: absolute;
    left: 16%;
    bottom: -120px;
}

.subscribe{
    padding: 70px 90px;
    position: relative;
    background-image: linear-gradient(rgba(156, 0, 0, 0.459), rgba(161, 0, 0, 0.513)), url('../img/pattern.png') ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}



.participate{
    background-image: linear-gradient(rgba(29, 0, 0, 0.911), rgba(24, 0, 0, 0.911)), url('../img/talented.jpeg') ;
    padding: 120px 0 100px;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.line{
    height: 20px;
    width: 3px;
    float: right;
    background-color: #fff;
    margin-top: 5px;
}

.line2{
    height: 20px;
    width: 3px;
    float: right;
    margin-top: 5px;
    background-color: var(--secondary);
}
.participate .cards{
    background-color: rgb(219, 219, 219);
    color: var(--secondary);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)

}

.participate .cards2{
    color: #fff;
    background-color: var(--secondary);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12)

}

.subscribe h4 {
    margin-bottom: 30px;
}

.sub-btn{
    color: #fff;
    padding: 0 2rem;
    background-color: var(--primary) !important;
}

footer{
    padding: 200px 0 100px;
    width: 100%;
    color: #c3c3c3;
    background-image: linear-gradient(rgba(0, 0, 0, 0.459), rgba(0, 0, 0, 0.513)), url('../img/pattern.png') ;
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
}
footer ul{
    padding: 0 !important;
    margin: 0 0 30px 0 !important;
}
footer ul li {
    list-style: none;
    padding: 10px 0;
}

footer ul li .contact-icon{
    margin-right: 10px;
}

footer .social-icons a{
color: #fff !important; 
text-decoration: none;
margin-right: 20px;

}

footer .social-icons a i{
    color: #fff !important;
    padding: 10px 13px;
    border-radius: 10px;
    background-color: var(--primary);
}
footer input[type=text], footer textarea {
    background-color: rgb(34, 34, 34) !important;
    color: #ccc;
    border: none !important;
}
footer textarea {
    min-height: 100px;
    max-height: 100px;
}

.copyright{
    text-align: center;
    padding: 13px 0;
    color: #ccc;
    background-color: var(--dark);
}

/* ===============  Tab ============== */

@media screen and (max-width: 768px) {

    .cbanner-caption h1 {
        font-size: 30px;
    }

    .vision{
        margin:0 0 30px 0 ;
    }

    .team-image{
        width: 20rem;
        position: relative;
        z-index: 2;
    }
    .steps span i{
        font-size: 20px;
    }
    .features-cards{
        /* max-width: 20rem;  */
        min-height:28rem !important; 
        color: #000
    }

    .adjust-pad {
        padding-bottom: 22px;
    }
    
    .header{
        padding: 12px 10px !important;
    }

    .margin   {
        margin:100px 0 ;
        position: relative;
    }

    .participate{
        padding: 100px 0 !important;
    }
        
    .icon{
        padding: 0 30px 120px 0
    }
    .statement {
        margin-top: -50px
    }

    .subscribe{
        padding: 70px 40px;
    }
    .box{
        height: 100px;
        width: 100px;
        top: -20px;
        left: -7px;
    }
}


/* ============= Mobile ================= */
@media screen and (max-width: 568px) {
    .header{
        position: absolute;
        width: 100%;
        padding: 3px 0 !important;
    }
    .header-btn{
        margin-top: 30px;
    }
    .banner-section{
        padding: 0;
        height: 120vh;
    }
    .cbanner-caption{
        width: 80%;
        margin-left:15px !important;
    }
    .cbanner-caption h1 {
        font-size: 35px;
    }

    .features h3{
        width: 100%;
    }

    .features-cards{
        width: 100% !important;
        max-width: 100% !important;
    }

    .adjust-pad {
        padding-bottom: 0;
    }

    .participate .cards, .participate .cards2{
        max-width: 100% !important;
    }
    .caption-container{
        justify-content: left;
    }
    .caption{
        position: relative;
        top: -35%;
        margin-left: 15px;
    }

    .cbanner-caption{
        position: absolute;
        top: 40%;
        transform: translate(0, 50%);
        padding: 0;
    }

    .steps span i{
        font-size: 40px;
    }
    .participate h3{
        margin-left: 10px;
    }

    .cards, .cards2 {
        padding: 20px 10px !important;
    }

    .team-image{
        width: 100%;
    }

    .statement {
        margin-top: 50px
    }

    .subscribe-container{
        left: 0;
    }

    .vision, .mission{
        padding:20px 10px ;
    }
    .box{
        top: -7px;
        left: -7px;
    }
        
    .subscribe{
        padding: 70px 15px;
    }

    .subscribe-container{
        padding: 0 !important;
    }
    .contact{
        margin-left: 15px;
        padding-bottom: 70px;
    }
    .message form{
        padding: 0 7px;
    }

    .message h4 {
        padding: 0 15px;
    }
}

/* ============== Mobile ============== */
@media screen and (max-width: 400px) {
    .cbanner-caption{
        position: relative !important;
        top: 0;
        transform: translate(0, 30%);
        }
        .cbanner-caption{
        width: 90%;
        margin-left: 15px;
    }
    .banner-section{
        height: 110vh;
    }
    .message form{
        padding: 0 13px;
    }
}

.preloader {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: -5px;
    justify-content: center;
    align-content: center;
    align-items: center;
    background: transparent;
    z-index: 2;
}

.text {
    color: #ffffff;
    display: inline-block;
    margin-left: 5px;
}

.bounceball {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 5px;
}
.bounceball:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
}

.bounceball-right {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 5px;
}

.bounceball-right:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
    animation-delay: 400ms;
}

.bounceball-center {
    position: relative;
    display: inline-block;
    height: 5px;
    width: 5px;
}

.bounceball-center:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: #d71921;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
    animation-direction: alternate-reverse;
    animation-delay: 200ms;
}

@keyframes bounce {
    0% {
        top: 10px;
        height: 1px;
        border-radius: 60px 60px 20px 20px;
        transform: scaleX(2);
    }
    35% {
        height: 5px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0;
    }

}
