<template>
    <div>
        <div class="holder">
            <div class="svg">
                <img src="../assets/svg/404.svg">
            </div>
            <div class="caption">
                <div class="redrush-user-pod ">
                    <h4>🤔 Hmm...</h4>
                    <p class="mt-2 small">Couldn't find what you're looking for? <br />It's probably no more here</p>
                    <button class="btn-sm btn btn-primary mt-4 rounded-pill px-4 py-2">
                        <a href="https://redrush.ng">
                        Home Page
                        </a>
                    </button>
                </div>          
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
    };
  },

  mounted(){
      this.$store.dispatch('disable_static')
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    
</style>
