<template>
  <div>
    <!-- Banner Section -->
    <section class="banner-section">
      <b-container class="text-light">
        <b-row class="">
          <b-col md="7" sm="12" class="caption-container">
            <div class="cbanner-caption"
              data-aos="fade-right"
              data-aos-offset="300"
              data-aos-delay="500"
              data-aos-duration="600"
              data-aos-easing="ease-in-sine"
            >
              <h1>
                Unlimited Entertainment <br />
                For Everyone.
              </h1>
              <p>
                Unending Entertainment. Comedy, Music, Shows and More. All with Spirited Competition.
                Enjoy Lively Contents, Contests, and Vote for Your Favourites.
              </p>
              <!-- <a > -->
              <b-button href="https://explore.redrush.ng"
                class="mt-4 banner-btn btn-md px-3  rounded-pill btn-outline-danger" variant="transparent"
                >Browse</b-button>
            </div>
          </b-col>

          <b-col md="5" sm="10">
            <div class="banner-image">
              <!-- <img src="../assets/svg/contest.svg" alt=""> -->
            </div>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <!-- End Of Bannner Section -->
    <b-container class="text-light">
       <!-- Actibities Section -->
      <b-row class="pb-5 margin">
        <b-col md = '2'></b-col>
        <b-col md ='8' sm="12" data-aos="fade-up" data-aos-delay="200" class="text-center mb-5 features">
          <h3 >
            Are you an entertainment lover?
          </h3>
          <p class="mt-3">
            Redrush is a hub for entertainers and their lovers. Enter into a contest, drop your best performance, have fun while your contents go viral and you stand a chance to win big on any of the contests.
            Upload your contents, get your voters ready and have fun earning with your passion.
            RedRush, Reward for Talents.
          </p>
        </b-col>
        <b-col md = '2'></b-col>
        <b-col md="4" sm="6">
          <b-card
            title="Music"
            img-src="https://images.unsplash.com/photo-1511367734837-f2956f0d8020?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1594&q=80"
            img-alt="Image"
            img-top
            img-height="200px"
            tag="article"
            style=""
            class="mb-5 text-center features-cards"
            data-aos="fade-up"
            data-aos-duration="300"
            data-aos-delay="200"
            data-aos-anchor-placement="top-bottom"
          >
            <b-card-text class="adjust-pad">
              Put your awesome musics here, enter into a contest with it and enjoy your ride to fame while you earn big.
              Own your stage.
            </b-card-text>

            <b-button href="https://explore.redrush.ng/register" class="btn-md px-3 rounded-pill button">Get Started</b-button>
          </b-card>
        </b-col>
        <b-col md="4" sm="6">
          <b-card
            title="Comedy"
            img-src="https://images.unsplash.com/photo-1531923610693-c816870f3b44?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            img-alt="Image"
            img-top
            tag="article"
            img-height="200px"
            style=""
            class="mb-5 text-center features-cards"
            data-aos="fade-up"
            data-aos-delay="300"
            data-aos-duration="600"
            data-aos-anchor-placement="top-bottom"
          >
            <b-card-text class="adjust-pad">
              Showcase your hilarious talent, get your audience to watch and earn while you ride to stardom.
              <div class="hide">music</div>

            </b-card-text>

            <b-button href="https://explore.redrush.ng/register" class="btn-md px-3 rounded-pill button">Get Started</b-button>
          </b-card>
        </b-col>
        <b-col md="4" sm="6">
          <b-card
            title="Drama"
            img-src="https://images.unsplash.com/photo-1559781732-eed3e087c660?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"
            img-alt="Image"
            img-top
            tag="article"
            img-height="200px"
            style=""
            class="mb-5 text-center features-cards"
             data-aos="fade-up"
             data-aos-delay="500"
             data-aos-duration="900"
            data-aos-anchor-placement="top-bottom"
          >
            <b-card-text>
              Upload your content, reach out to the wide range of audience on here and enjoy mouthwatering rewards for your contents.
            </b-card-text>

            <b-button href="https://explore.redrush.ng/register" class="btn-md  px-3 rounded-pill button">Get Started</b-button>
          </b-card>
        </b-col>
        <!-- <b-col cols="3">
          <div class="image-holder">
            <img  fluid src="../assets/img/who.jpeg" alt="Image 1"/>
          </div>  

        </b-col> -->
      </b-row>
      <!-- End Of Activities Section -->

      <!-- Creativvity Section -->
      <section class="margix talent">
        <b-row>
          <b-col md="6" sm="12">
            <div
              class="caption"
              data-aos="fade-right"
              data-aos-offset="300"
              data-aos-delay="300"
              data-aos-duration="500"
              data-aos-easing="ease-in-sine"
            >
              <h2>Are you Creative</h2>
              <p>
                Show your audience how amazing your talent is. Enter into a Contest, Win the Audience, Win the BIG Prize.
                Begin Now.
              </p>
              <b-button href="https://explore.redrush.ng/register" class="btn-md  px-3 rounded-pill mt-4 bg-secondary"> Get started</b-button>
            </div>
          </b-col>
          <b-col md="6" sm="12" class="creative">
            <div
              data-aos="fade-up"
              data-aos-delay="500"
              data-aos-duration="700"
            >
              <div class="box"></div>
              <div class="team-image" >
                <img src="../assets/img/talented.jpeg" alt="" />
              </div>
            </div>
          </b-col>
        </b-row>
      </section>
      <!-- End Of creativity Section -->
    </b-container>
    

    <!-- Steps Section -->
    <section class="participate">
      <b-container class="text-light">
        <b-row class="">
          <b-col cols="12" class="pb-5" 
            data-aos="fade-right"
            data-aos-offset="300"
            data-aos-duration="300"
            data-aos-easing="ease-in-sine">
            <h3>Steps to Participate</h3>
          </b-col>
          <b-col md="3" sm="6" class="steps">
            <b-card
              no-body
              title="Card Title"
              tag="article"
              style="max-width: 16rem; height: 13rem; padding: 20px"
              class="cards2 mb-5"
              border-radius="md"
              data-aos="fade-up"
              data-aos-delay="200"
              data-aos-duration="400"
            >
              <b-card-text variant="dark">
                <span><i class="fa fa-address-card"></i></span>
                <span class="line"> .</span>
                <p class="outline">Create <br />an Account</p>
              </b-card-text>

              <!-- <b-button href="#" variant="primary">Go somewhere</b-button> -->
            </b-card>
          </b-col>
          <b-col md="3" sm="6" class="steps">
            <b-card
              no-body
              title="Card Title"
              tag="article"
              style="max-width: 16rem; height: 13rem; padding: 20px"
              class="cards mb-5"
              border-radius="md"
              data-aos="fade-up"
              data-aos-delay="400"
              data-aos-duration="600"
            >
              <b-card-text variant="dark">
                <span><i class="fa fa-user-circle"></i></span>
                <span class="line2"> .</span>
                <p class="outline">
                  Login to <br />
                  Your Account
                </p>
              </b-card-text>
            </b-card>
          </b-col>
          <b-col md="3" sm="6" class="steps">
            <b-card
              no-body
              title="Card Title"
              tag="article"
              style="max-width: 16rem; height: 13rem; padding: 20px"
              class="cards2 mb-5"
              border-radius="md"
              data-aos="fade-up"
              data-aos-delay="600"
              data-aos-duration="900"
            >
              <b-card-text variant="dark">
                <span><i class="fa fa-trophy"></i></span>
                <span class="line"> .</span>
                <p class="outline">
                  Join <br />
                  Contest
                </p>
              </b-card-text>
            </b-card>
          </b-col>
          <b-col md="3" sm="6" class="steps">
            <b-card
              no-body
              title="Card Title"
              tag="article"
              style="max-width: 16rem; height: 13rem; padding: 20px"
              class="cards"
              border-radius="md"
              data-aos="fade-up"
              data-aos-delay="900"
              data-aos-duration="1000"
            >
              <b-card-text variant="dark">
                <span><i class="fa fa-upload"></i></span>
                <span class="line2"> .</span>
                <p class="outline">Upload <br />a Video</p>
              </b-card-text>
            </b-card>
          </b-col>
        </b-row>
      </b-container>
    </section>
    <!-- End Of Steps Section -->
    <b-container class="text-light">
      <!-- About Us Section -->
      <section class="margix">
        <b-row class="">
          <b-col md="6" sm="12" class="about">
            <div
              data-aos="fade-right"
              data-aos-offset="300"
              data-aos-delay="500"
              data-aos-easing="ease-in-sine"
            >
              <div class="box"></div>
              <div class="team-image">
                <img src="../assets/img/who2.jpeg" alt="" />
              </div>
            </div>
          </b-col>

          <b-col md="6" sm="12" class="statement">
            <div
              class="vision"
              data-aos="fade-up"
              data-aos-delay="500"
              data-aos-duration="600"
            >
              <span class="icon"><i class="fa fa-briefcase"></i></span>
              <h4>Who we are</h4>
              <p>
                We are an entertainment hub that connects amazing entertainers with their lovers. We make you earn big from your contents.
              </p>
            </div>

            <div
              class="mission"
              data-aos="fade-up"
              data-aos-delay="800"
              data-aos-duration="900"
            >
              <span class="icon"><i class="fa fa-tasks"></i></span>
              <!-- <div class="caption"> -->
              <h4>Our Mission</h4>
              <p>
                Through unrivalled Contests, we desire to give every entertainer the greatest stage stardom while paying them along the journey. All you need is your talent.
              </p>
              <!-- </div> -->
            </div>
          </b-col>
        </b-row>
      </section>
      <!-- End Of About Us Section -->

      <!-- Newsletter Section -->
      <section class="subscribe-section">
        <b-row>
          <!-- <b-col cols='2'></b-col> -->
          <b-col md="8" sm="12" class="subscribe-container">
            <div class="subscribe" 
              data-aos="fade-up" 
              data-aos-delay="700"
              data-aos-duration="600"
            >
              <h4 >Subscribe to Our Newsletter</h4>
              <validation-observer ref="observer" v-slot="{ handleSubmit }">
                 <b-form @submit.stop.prevent="handleSubmit(newsLetter)" class=" text-center">
                   <validation-provider
                      name="Fullname"
                      :rules="{ required: true, email:true}"
                      v-slot="validationContext"
                    >
                  <b-input-group class="mt-1" title="" >
                    <template v-slot:append>
                      <b-button :disabled= 'loading' class="sub-btn" type="submit"
                        ><strong class=""><span v-if="!loading">Subscribe</span> </strong><Preloader v-if="loading" /></b-button
                      >  
                      
                    </template>
                     
                      <b-form-input v-model="email"  
                       :state="getValidationState(validationContext)"
                      aria-describedby='newsletter' type="email" placeholder="Enter email address"></b-form-input>
                  </b-input-group>
                  
                    <!-- <b-form-invalid-feedback class="text-white mt5" id="newsletter">{{ validationContext.errors[0]}}</b-form-invalid-feedback> -->
                 </validation-provider> 
                 </b-form>
              </validation-observer>
               
            </div>
          </b-col>
          <!-- <b-col cols='2'></b-col> -->
        </b-row>
      </section>
      <!-- End Of Newsletter Section -->

    </b-container>
  </div>
</template>

<script>
import swal from 'sweetalert';
import firebaseConfig from "../../static/js/firebase";
import Preloader from '@/components/preloader';
let db = firebaseConfig.database();
let newsLetterRef = db.ref('Newsletter');
export default {
  name: "homePage",
   firebasedb:{
    newsletter: newsLetterRef
  },
  data() {
    return {
     email: '',
     loading: false
    };
  },
  components : {
    Preloader,
  },

  methods:{
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    newsLetter(){
      this.loading = true
      let checkData = db.ref().child('Newsletter')
      checkData.on('value', snap => {
        let me = snap.val();
        let nwData = Object.values(me);
        if(nwData.includes(this.email)){
          swal({
            title: "Email already exist",
            text: "This email address has been signed up for our newsletter \n \n Thanyou!",
            icon: "warning",
            buttons: 'Ok',
            dangerMode: true,
          })
          this.email = ''
        }else{
          newsLetterRef.push(this.email)
          .then(()=>{
              setTimeout(()=>{
              swal({
                title: "Email Saved",
                text: "Thanks for registering to our newsletter You will definaly get notified whenever there is a contest. \n \n Have a great day!",
                icon: "success",
                button: "Ok",
                dangerMode: true,
              });
              this.email = '';
              this.loading = false
            })
          })
        }
        this.clearFeilds();
      })

    },

    clearFeilds(){
        this.loading = false;
        this.$nextTick(() => {
          this.$refs.observer.reset();
        });
    }

  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  .image-holder {
    width: 15rem;
  }

  .image-holder img {
    width: 100%;
  }

</style>
