<template>
    <div>

        <h1 class="text-light">Terms and condition</h1>
    </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data() {
    return {
    };
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    h1{
        padding: 100px 0 0 60px;
    }
</style>
