<template>
  <div>
    <footer>
      <b-container>
        <b-row>
          <!-- <b-col cols="4">
              <div class="footer-brand">
                <img src="../assets/img/logo.png" alt="">
            </div>
            <h4>REdrush Entertainment</h4>
          </b-col> -->
          <b-col 
          md="5" sm="12" 
          class="mb-5 contact"
          data-aos="fade-right"
          data-aos-offset="300"
          data-aos-delay="500"
          data-aos-easing="ease-in-sine"
          >
            <h4>Contacts</h4>
            <ul>
              <li>
                <i class="fa fa-envelope contact-icon"></i> hello@Redrush.ng
              </li>
              <li>
                <i class="fa fa-phone contact-icon"></i> +234 903 4567 324
              </li>
              <li>
                <i class="fa fa-map-marker contact-icon"></i>hello@Redrush.ng
              </li>
            </ul>
            <div>
              <span class="social-icons">
                <a href=""><i class="fa fa-facebook"></i></a>
              </span>
              <span class="social-icons">
                <a href="https://instagram.com/redrushTV"><i class="fa fa-instagram"></i></a>
              </span>
              <span class="social-icons">
                <a href=""><i class="fa fa-twitter"></i></a>
              </span>
              <span class="social-icons">
                <a href=""><i class="fa fa-telegram"></i></a>
              </span>
            </div>
          </b-col>
          <b-col md="5" sm="12" class="message" data-aos="fade-up" data-aos-duration="1000">
            <h4 class="mb-4">Leave Your Message</h4>
   
            <validation-observer ref="observer" v-slot="{ handleSubmit }">
              <b-form @submit.stop.prevent="handleSubmit(submitForm)" class=" text-center">
                <validation-provider
                  name="Fullname"
                  :rules="{ required: true, min: 5 }"
                  v-slot="validationContext"
                >
                <b-input
                  v-model="form.fullname"
                  type="text"
                  placeholder="Fullname"
                  class="mt-2 text-white"
                  :state="getValidationState(validationContext)"
                  aria-describedby='fullname'
                ></b-input>
                <b-form-invalid-feedback style="font-size: 15px" id="fullname">{{ validationContext.errors[0] }}</b-form-invalid-feedback>

              </validation-provider>
              <validation-provider
                  name="Email"
                  :rules="{ required: true, min: 5 , email: true}"
                  v-slot="validationContext"
                  
                >
                <b-input
                  v-model="form.email"
                  placeholder="Email"
                  type="text"
                  class="mt-2 text-white"
                  :state="getValidationState(validationContext)"
                  aria-describedby='email'
                ></b-input>
                <b-form-invalid-feedback style="font-size: 15px" id="email">{{ validationContext.errors[0] }}</b-form-invalid-feedback>
              </validation-provider>
                <!-- <b-input v-model="phone" placeholder="Phone number" id="feedback-user" class="mt-2"></b-input> -->
                <validation-provider
                  name="Messahe"
                  :rules="{ required: true, min: 5, max: 100 }"
                  v-slot="validationContext"
                >
                <textarea
                  class="mt-2 form-control text-white"
                  placeholder="Message"
                  v-model="form.message"
                  :state="getValidationState(validationContext)"
                  aria-describedby='message'
                ></textarea>
                <b-form-invalid-feedback style="font-size: 15px" id="message">{{ validationContext.errors[0] }}
                </b-form-invalid-feedback>
                </validation-provider>
                <b-button type="submit" :disabled='loading' class="btn-md px-3 rounded-pill mt-4" variant="danger"><span v-if="!loading">Submit</span> 
                <Preloader v-if="loading"/>
                </b-button>
              </b-form> 
            </validation-observer>
          </b-col>
        </b-row>
      </b-container>
    </footer>
    <div class="copyright">
      &copy; 2020 Redrush All rights reserved
    </div>
  </div>
</template>

<script>
import swal from 'sweetalert';
import firebaseConfig from "../../static/js/firebase";
import Preloader from '@/components/preloader';


// let config = firebaseConfig.config
// let app = firebase.initializeApp(config)
let db = firebaseConfig.database();
let testRef = db.ref('Messages');
export default {
  name: 'footer',
   firebase:{
    message: testRef
  },
  data () {
    return {
       form:{
        fullname: "",
        email: "",
        message: "",
      },
      loading: false
    }
  },
  components : {
    Preloader
  },
  methods:{
    getValidationState({ dirty, validated, valid = null }) {
      return dirty || validated ? valid : null;
    },
    
    submitForm(){
      this.loading = true,
      testRef.push(this.form)
      .then(()=>{
        setTimeout(()=>{
        swal({
          title: "Message Sent",
          text: "We will get back to You \n \n \n Thank You!",
          icon: "success",
          button: "Ok",
          dangerMode: true,
        });
        this.loading = false;
        this.form.fullname = '';
        this.form.email = '';
        this.form.message = '';
      },1000)
      })
      .catch(e=>{
        alert('NeWork')
      })


      this.$nextTick(() => {
        this.$refs.observer.reset();
      }
    );
  }

  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
    .header{
        position: absolute;
        width: 100%;
        padding: 25px 40px;
    }
    .navbar{
        position: relative;
    }
    .logo-brand{
        width: 100px;
        height: 20px;
    }
    .logo-brand img {
        width: 100%;
        height: 200%;
    }

    @media screen and (max-width: 568px){
        .header{
            position: absolute;
            width: 100%;
        }
    }
   
</style>
