<template>
  <div >
    <div class="header">
            <div class="text-left navbar">
                <div class="logo-brand">
                <router-link to='/'><img src="../assets/img/logo.png" class="pointer" alt=""></router-link> 
                </div>

                <div class="text-right header-btn">
                    <a href="https://explore.redrush.ng/register">
                        <b-button  class="btn-md px-3 rounded-pill button" >Get Started</b-button>
                    </a>
                </div>
            </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'HelloWorld',
  data () {
    return {
      form: {},
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

   
</style>
