<template>
  <div>
    <div class="preloader">
        <div class="wrap">
            <div class="loading">
            <div class="bounceball mr-2"></div>
            <div class="bounceball-center mr-2"></div>
            <div class="bounceball-right mr-2"></div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'preloader',
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
