<template>
  <div id="app">
    <div class="loader-container" v-if="loading">
          <img src="./assets/img/loader-infinite.gif" alt="loader" class="loader">
    </div>
    <NavHead v-if="this.$store.state.showStatic"/>
    <router-view/>
    <Footer v-if="this.$store.state.showStatic"/> 
  </div>    
</template>
  
<script>
import NavHead from "./components/Header"
import Footer from "./components/footer"
export default {
  name: 'App',
  data(){
    return{
      loading: false,
    }
  },

  components:{
    NavHead,
    Footer
  },
  created(){
    this.loading = true
  },

  mounted(){
    this.loading = false
    
  }

}
  
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
